---
import Button from "../Button.astro";
import Nav from "./Nav.astro";
import Showcase from "./Showcase.astro";
---

<div class="header">
  <div class="overlay">
    <Nav />
    <Showcase />
  </div>
</div>
<div class="bottomSectionContainer">
  <div class="bottomSection">
    <p>Protecting the future of Afghan Women and Girls</p>
    <Button content="Make an impact" width="100%" />
  </div>
</div>

<style>
  .header {
    background-image: url("/public/img/header.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: rgba(15, 22, 33, 0.8);
  }
  .bottomSectionContainer {
    background: #262626;
    height: 10vh;
    display: flex;
    align-items: center;
  }
  .bottomSection {
    width: 90vw;
    margin: 0 auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: 768px) {
    .bottomSectionContainer {
      height: 15vh;
    }
    .bottomSection {
      flex-direction: column;
      justify-content: center;
    }
  }
</style>
