<div class="container">
  <div class="content">
    <p>Need Legal Advice? We can help</p>
    <h1>Trustworthy Legal Services from Experienced Attorneys</h1>
    <div class="btn">
      <button>
        <span>Schedule a Consultation</span>
        <svg
          width="30"
          height="30"
          viewBox="0 0 48 48"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="24" cy="24" r="24" fill="#0F1621"></circle>
          <path
            d="M21.6097 15.6878L27.9707 22.0488C28.7219 22.8 28.7219 24.0293 27.9707 24.7805L21.6097 31.1415"
            stroke="white"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<style>
  .container {
    padding-top: 15vh;
    width: 90vw;
    margin: 0 auto;
    color: #fff;
  }
  .content {
    max-width: 620px;
  }
  p {
    font-size: 20px;
  }
  h1 {
    font-size: 56px;
  }
  .btn button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    background-color: #404040;
    color: #fff;
    padding: 16px 24px;
    border-radius: 28px;
    border: none;
    font-size: 18px;
    margin-top: 20px;
  }
  @media screen and (max-width: 768px) {
    .container {
        padding-top: 10vh;
    }
    .btn button {
        width: 100%;
    }
    h1 {
        font-size: 44px;
    }
  }
</style>
