---
 import Button from "../Button.astro";
---

<div class="container">
  <div class="content">
    <p>Need Legal Advice? We can help</p>
    <h1>Trustworthy Legal Services from Experienced Attorneys</h1>
    <Button content="Schedule a Consultation" width="50%" />
  </div>
</div>

<style>
  .container {
    padding-top: 15vh;
    width: 90vw;
    margin: 0 auto;
    color: #fff;
  }
  .content {
    max-width: 620px;
  }
  p {
    font-size: 20px;
  }
  h1 {
    font-size: 56px;
  }

  @media screen and (max-width: 768px) {
    .container {
        padding-top: 10vh;
    }
    h1 {
        font-size: 44px;
    }
  }
</style>
