---
import ListItem from "./ListItem.astro";
---

<div class="container">
  <div class="overlay">
    <div class="innerContainer">
      <div class="sectionOne">
        <span>Our Legal Services</span>
        <h2>Comprehensive Legal Support for Your Needs</h2>
      </div>
      <div class="sectionTwo">
        <span>
          Our law firm offers a range of legal services to meet your unique
          needs. Whether you need help with a personal injury case, a business
          dispute, or a criminal matter, our team has the expertise and
          experience to help you achieve the best possible outcome. We pride
          ourselves on providing comprehensive legal support, from the initial
          consultation to the resolution of your case.
        </span>
        <div class="listContainer">
          <ListItem title="Personal Inquiry" />
          <ListItem title="Real Estate Law" />
          <ListItem title="Criminal Defense" />
          <ListItem title="Estate Planning Law" />
          <ListItem title="Family Law" />
          <ListItem title="Immigration Law" />
          <ListItem title="Employment Law" />
          <ListItem title="Environmental Law" />
          <ListItem title="Business Law" />
          <ListItem title="Intellectual Property Law" />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .container {
    background-image: url("/public/img/footer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
  }
  .overlay {
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: rgba(15, 22, 33, 0.8);
  }
  .innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 10vh;
  }
  .sectionOne {
    width: 30%;
  }
  .sectionTwo {
    width: 48%;
  }
  .sectionOne span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  .sectionOne h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
  }
  .sectionTwo span {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }
  .listContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    row-gap: 2rem;
    padding-top: 5vh;
  }
    @media (max-width: 768px) {
    .innerContainer {
      flex-direction: column;
      align-items: center;
    }
    .sectionOne {
      width: 100%;
      text-align: center;
    }
    .sectionTwo {
      width: 100%;
      text-align: center;
    }
    .listContainer {
      grid-template-columns: 1fr;
    }
    
  }
</style>
